<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Simplest  CRUD</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h2>User List</h2>

    <table>
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        {% for user in users %}
        <tr>
            <form method="get">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{ user.id }}">

                <td><input type="text" id="input_username" name="username" class="input_username" value="{{ user.username }}" required readonly></td>
                <td><input type="password" id="input_password" name="password" class="input_password" value="{{ user.password }}" required readonly></td>
                <td><input type="text" id="input_email" name="email" class="input_email" value="{{ user.email }}" required readonly></td>

                <td>
                    <button type="submit" formaction="{% url 'user_edit' user.id %}">Edit</button>
                    <button type="submit" formaction="{% url 'user_delete' user.id %}">Delete</button>
                </td>
            </form>
        </tr>
        {% endfor %}
    </table>

    <form method="post" action="{% url 'user_new' %}">
        {% csrf_token %}
        <button type="submit">New</button>
    </form>
</body>
</html>
